<h1>
    Talent Sign-Up
</h1>


   <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

  
<div class="container">

        {{!-- separator --}}
    <div class="col s2"></div>


    <div class="col-8">
    <form class="col s12" id='newTalentForm'>
            <div class="form-group">
                <div class="row">

                <div class="input-field col s12">
                    <input placeholder="ex: Jon Doe" id="newTalent" type="text" autocomplete='name' class="validate">
                    <label for="newTalent">Your Full Name</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="X-(XXX)XXX-XXXX" id="talentPhone" type="text" autocomplete='tel' class="validate">
                    <label for="talentPhone">Your Phone Number</label>
                </div>

               <div class="row">
                    <div class="input-field col s12">
                        <input id="talentEmail" type="email" autocomplete='email' class="validate">
                        <label for="talentEmail">Email Address</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="Address" autocomplete='address-line1' type="text" class="validate">
                        <label for="Address">Yours Address</label>
                    </div>
                </div>

               <div class="row">
                    <div class="input-field col s12">
                        <input id="SSN" type="text" class="validate">
                        <label for="SSN">Your Social Security Number</label>
                    </div>
                </div>

               <div class="row">
                    <div class="input-field col s12">
                        <input id="SSN" type="text" class="validate">
                        <label for="SSN">Your Social Security Number</label>
                    </div>
                </div>

               <div class="row">
                    <div class="input-field col s12">
                        {{input type="checkbox" name="Drivers_license" id="drivers"}}
                        <input id="dlNumber" type="text" class="validate">
                        <label for="dlNumber">Driver License Number</label>
                    </div>
                </div>

               <div class="row">
                    <div class="input-field col s12">
                        {{input type="checkbox" name="Drivers_license" id="drivers"}}
                        <input id="tabc" type="text" class="validate">
                        <label for="tabc">TABC License Number</label>
                    </div>
                </div>
                
                    {{!-- for uploading Photos --}}
                    {{!-- <script id="file-upload-template" type="textx-handlebars-template">
                        <li class="removable_row">
                            <div class="file-field">
                                <label class="photo" for="{{photo}}"><abbr title="required"></abbr> Photo</label>
                                <input class="photo" id="{{photo}}" name="Personal Photo" type="file"/>
                            </div>
                        </li>
                    </script>
                    <div class="file-uploader">Photo</div> --}}

                    {{!-- turning this into a simply checkbox have to change it to dropdown later --}}
                    <label>Position:</label>
                    {{input type="checkbox" name="Bartender" id="Bartender"}}
                    {{input type="checkbox" name="Server" id="Server"}}
                    {{input type="checkbox" name="Promo Model" id="Promo Model"}}
                    {{input type="checkbox" name="Security" id="Security"}}
                    {{input type="checkbox" name="Sales" id="Sales"}}

                      <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="bio" class="materialize-textarea"></textarea>
                                    <label for="bio">Textarea</label>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </form>
    </div>

        {{!-- separator --}}
    <div class="col-2"></div>
    </div>
</div>
  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            