<div class="container profileInfo z-depth-3">

  <h1 class="center-align">Talent Profile</h1>

  <div class="container">
    <h2>{{user.talentName}}</h2>
    <div class="media">
      <h5 class="userInfo">{{user.talentName}}</h5>
      <img class="mr-3 profileImage" src="https://picsum.photos/200" alt="Generic placeholder image">
      <div class="media-body">
        <p class="userInfo">{{user.rating}}</p>
        <p class="userInfo">{{user.email}}</p>
        <ul class='userInfo'>
          <li class="userInfo" alt="Bartender" value="{{user.InfoBar}}">Bartender</li>
          <li class="userInfo" alt="Server" value="{{user.InfoServer}}">Server</li>
          <li class="userInfo" alt="Sales" value="{{user.InfoSales}}">Sales</li>
          <li class="userInfo" alt="Promo Model" value="{{user.InfoModel}}">Promo Model</li>
          <li class="userInfo" alt="Security" value="{{user.InfoSecurity}}">Security</li>
        </ul>
        <p class="userInfo">{{user.previousEvents}}</p>
      </div>
    </div>
    <div class="col-s4">
      <p class="userInfo">{{user.bio}}</p>
    </div>
  </div>


  <script src="../assets/js/eventList.js" type="text/javascript"></script>